.projects-section {
  padding: 10rem 0;
  .featured-text {
    padding: 2rem;
    @media (min-width: 992px) {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid $primary;
    }
  }
  .project-text {
    padding: 3rem;
    font-size: 90%;
    @media (min-width: 992px) {
      padding: 5rem;
      hr {
        border-color: $primary;
        border-width: .25rem;
        width: 30%;
      }
    }
  }
}

.linkedin-section {
  padding: 10rem 0;
  background: url('../img/linkedin-box-background.jpg') no-repeat scroll center;
  background-size: cover;
}

.github-section {
  padding: 10rem 0;
  background: url('../img/github-box-background.jpg') no-repeat scroll center;
  background-size: cover;
}

.twitter-section {
  padding: 10rem 0;
  background: url('../img/twitter-box-background.jpg') no-repeat scroll center;
  background-size: cover;
}

.stackoverflow-section {
  padding: 10rem 0;
  background: url('../img/stackoverflow-box-background.jpg') no-repeat scroll center;
  background-size: cover;
}

.stackshare-section {
  padding: 10rem 0;
  background: url('../img/stackshare-box-background.jpg') no-repeat scroll center;
  background-size: cover;

}